<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="css/form.css?v=2.2"> -->
    <link rel="stylesheet" href="/css/style.css?v=2.2">
    <link rel="icon" href="/images/webp/mei_logo_web.webp" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <title><%= prodname %></title>
</head>

<body>
    <div class="nav" id="nav">
        <ul class="navbar" id="navbar">
            <li class="links"><a class="logosredes" href="/"> 
                <img class="wsplogo" src="/images/webp/home.webp" alt="home"></a></li>
            <li class="links2" id="logout"><a class="logosredes" href="/auth/logout"> 
                <img class="wsplogo" src="/images/webp/logout.webp" alt="logout"></a></li>
            <li class="links2 link3" id="pipe"><a class="pipe link">|</a></li>
            <li class="links2" id="cart"><a class="logosredes" href="/cart"> 
                <img class="wsplogo" src="/images/webp/cart.webp" alt="cart">
                <p id="counter" class="counter"><%= count %></p>
            </a></li>
            <li class="links2 link3" id="pipe"><a class="pipe link">|</a></li>
            <li class="links2 link3" id="username"><a class="translate link" key="USERNAME" href="/personal"><%= username %></a></li>
            <li class="links2" id="login"><a class="logosredes" href="/auth/login"> 
                <img class="wsplogo" src="/images/webp/login.webp" alt="con_logo"></a></li>
        </ul>
    </div>
    <div class="relleno2"></div>
    <div class="relleno2"></div>
    <form action="/producto" method="post">
        <div class="fotiprod">
            <div class="fotoprod1">
                <img class="foto1" src="<%= prodimage %>" alt="con_logo"></a>
            </div>
            <div class="prodname">
                <p class="prodtitle"><%= prodname %></p>
                <input type="hidden" value="<%= prodnumber %>" id="prodnumber" name="prodnumber">
            </div>
            <div>
                <p class="prodnum">Precio: $<%= prodprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></p>
                <p id="stock" class="prodnum">Stock: <%= prodstock %></p>
            </div>
            <div class="prodnum">
                <button class="minplus" id="minus" type="button" data-action="decrement" onclick="disablebuttonminus()"><span>-</span></button>
                    <input class="inputminplus" type="text" id="prodquantity" name="prodquantity" value="0"></input>
                <button class="minplus" id="plus" type="button" data-action="increment" onclick="disablebuttonplus()"><span>+</span></button>
            </div>
        </div>
        <div class="cartbutton">
            <br>
            <br>
            <button class="cotiza pe" type="submit" id="aceptarcarrito" disabled="true">
                <div class="carro">
                    <img class="carrito" src="/images/webp/cart.webp" alt="cart">
                    <p class="agregar">Agregar</p>
                </div>
                
            </button>
        </div>
    </form>
    
    <div class="relleno"></div>
    <div class="proddesc">
        <p><%= proddescription %></p>
    </div>
 <script src="/js/navbar.js" type="text/javascript"></script>
 <script src="/js/hide.js" type="text/javascript"></script>
 <script src="/js/countproducts.js" type="text/javascript"></script>
<script>
    function disablebuttonminus(){
        var disabled = document.getElementById("prodquantity");
        var button = document.getElementById("aceptarcarrito");

        console.log(disabled.value)

        if(disabled.value - 1 == 0){
            document.getElementById("aceptarcarrito").disabled = true;
        } else {
            document.getElementById("aceptarcarrito").disabled = false;
        }
    }

    function disablebuttonplus(){
        var disabled = document.getElementById("prodquantity");
        var button = document.getElementById("aceptarcarrito");
        
        if(disabled.value + 1 == 0){
            document.getElementById("aceptarcarrito").disabled = true;
        } else {
            document.getElementById("aceptarcarrito").disabled = false;
        }
    }
</script>
</body>

</html>